.article-options .clickable-btn {
    opacity: 0.7;
}

.article-options .clickable-btn:hover {
    opacity: 1;
    transition: opacity;
}

#btnGroupDrop1 {
  border: 0;
  background: transparent;

}

div.section-div {
  border-bottom: 4px solid #E0E0E0;
}

.scrollable {
  max-height: 70vh;
  overflow: auto;
}

a.nounderline {
  text-decoration: none;
}