body {
  margin: 0;
  height: 100vh;
}
main{
  min-height: 90%;
}

.article-options .clickable-btn {
    opacity: 0.7;
}

.article-options .clickable-btn:hover {
    opacity: 1;
    transition: opacity;
}

.coolBtn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

div.section-div {
  border-bottom: 4px solid #E0E0E0;
}

.scrollable {
  max-height: 70vh;
  overflow: auto;
}

a.nounderline {
  text-decoration: none;
}

.no-display {
  display: none;
}

@media (min-width: 768px){
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
}

div.news_box:hover {
   background-color: rgb(245, 245, 245);
}

#loadMore {
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

/* TODO: why did we have this? - Anabela */
/* p.totop a {
  display: none;
} */

@media screen and (width: 768px) {
  #sections_list {
      display: none;
  }
}

#upvote:hover{
  color:#428bca;
}
#downvote:hover{
  color:#428bca;
}
.clickable:hover{
  color:#428bca;
}

#votesCounter{
  font-weight:bold;
  font-size:1.5em;
  color: #2b80e3;
}

.centerText{
  text-align: center;
}

.bold{
  font-weight: bold;
}

a{
  color:inherit;
}

.lightText{
  font-weight: 300;
}

a#users-tab {
  color: white;
}

a#users-tab.active {
  color: black;
}

a#bagdes-tab {
  color: white;
}

a#bagdes-tab.active {
  color: black;
}

a#categories-tab {
  color: white;
}

a#categories-tab.active {
  color: black;
}

a#statistics-tab {
  color: white;
}

a#statistics-tab.active {
  color: black;
}

.big-icon {
  font-size: 10em;
}

.medium-big-icon {
  font-size: 7em;
}

.error{
  color:red;
}

.screen-reader-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
}